.logout {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100px;
}

.login {
    padding-left: 40%;
    position: relative;
    width: 60%;
    padding-bottom: 50px;
}

.sprites {
    padding-top: 10px;
	justify-content: space-around;
	width: 200px;
	height: 10px;
}

.sprites ul li {
	display: inline-flex;
	list-style-type: none
}

.sprites a {
	color: black;
}

.sprites ul li:hover a {
	color: red;
	transition: all .3s ease;
}

.side {
    float: left;
    width: 48%;
    display: block;
    justify-content: space-around;
    margin-right: 10px;
}

.btn-danger {
    background-color: red;
}

.btn-success {
    background-color: #222222;
}

#social-gb {
    opacity: 0.8;
}

#social-gb:hover {
        opacity: 1;
}