<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Бизнесс | {{block.super}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header text-center"> Бизнес <br>
            <small> ... </small>
        </h3>
    </div>
</div>

<section class="contact" id="contact">
    <div id="contact" class="bg-grey">
         <div class="row">
             <div class="col-sm-4 text-right">
                 <br>
                 <p>Обратная связь в течении 24 часов - задайте нам любой интересующий Вас вопрос!</p>
                 <p><span class="glyphicon glyphicon-map-marker"></span> Russia</p>
                 <p><span class="glyphicon glyphicon-phone"></span> 8 800 405 </p>
                 <p><span class="glyphicon glyphicon-envelope"></span> gb-community@mail.ru</p>
             </div>
             <div class="col-sm-8">
                 <br>
                 <form class="control-label col-sm-12">
                     <div class="row">

                     </div>
                 </form>
             </div>
         </div>
    </div>

    <hr>
</section>
{% endblock %}