<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Контакты | {{block.super}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header text-center">Свяжитесь с нами</h1>
    </div>
</div>

<section class="contact" id="contact">
    <div id="contact" class="bg-grey">
         <div class="row">
             <div class="col-sm-4">
             <br>
             <p>Contact us and we'll get back to you within 24 hours.</p>
             <p><span class="glyphicon glyphicon-map-marker"></span> Russia</p>
             <p><span class="glyphicon glyphicon-phone"></span> 8 800 405 </p>
             <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
             </div>
             <div class="col-sm-6">
             <br>
                 <div class="row">
                     <div class="col-sm-6 form-group">
                         <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                     </div>
                     <div class="col-sm-6 form-group">
                         <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                     </div>
                 </div>
                 <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                 <div class="row">
                     <div class="col-sm-10 form-group">
                         <button class="btn btn-default pull-right" type="submit">Send</button>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    <h2>Мы в соц.сетях</h2>

    <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="list-inline-item social-facebook">
            <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="list-inline-item social-google-plus">
            <a href="https://github.com/GeekBrainsCommunityofAlumni/Statistics"><i class="fa fa-github"></i></a>
        </li>
        <li class="list-inline-item" id="social-gb">
            <a href="http://www.geekbrains.ru"><img src="{% static 'img/logoGB.png' %}" alt="" height="100%"></a>
        </li>
    </ul>
        <hr>
</section>
{% endblock %}
