<!DOCTYPE html>

{% load static from staticfiles %}

    <div class="container-fluid">

        <div class="thumbnail" id="user">
            <img src="{{ user.person.photo.url }}" alt="You">
            <div class="col-lg-4 text-left">
                <h4>{{user.first_name}} {{user.last_name}}</h4>
            </div>
        </div>

        <div class="information">
            <div class="hero-unit">
                <h4>Добро пожаловать, {{user.first_name}}!
                    <br><small>Ваш последний визит был {{user.last_login}}</small>
                </h4>
                <hr>
                <div class="settings">
                    <div class="col-lg-12 text-left">
                        <div class="btn btn-default btn-sm">
                            <input type="checkbox" id="hd-1" class="hide"/>
                            <label for="hd-1" class="text-left">
                                <h4 class="text-left">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                    Settings <br>
                                    <small class="text-left">Изменить личные настройки</small>
                                </h4>
                            </label>
                            <div class="col-sm-8">
                                <ul class="settings text-left">
                                    <li>
                                        <a href="/user/edit_profile/" class="settings">
                                            <h5>
                                                <i class="fa fa-retweet"></i>
                                                <i class="fa fa-id-card"></i>
                                                Настроить profile
                                            </h5>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/change_password/" class="settings">
                                            <h5>
                                                <i class="fa fa-retweet"></i>
                                                <i class="fa fa-key"></i>
                                                Изменить пароль
                                            </h5>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/reset_password/" class="settings">
                                            <h5>
                                                <i class="fa fa-paper-plane"></i>
                                                <i class="fa fa-key"></i>
                                                Скинуть пароль на почту
                                            </h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class='col-sm-5'>
                    <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-user" aria-hidden="true"></i> Ваш login:</td>
                            <td>{{user.username}}</td>
                        </tr>
                         <tr>
                            <td><i class="fa fa-id-badge" aria-hidden="true"></i> Ваш id:</td>
                            <td>{{user.id}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-envelope-o" aria-hidden="true"></i> Ваш e-mail:</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-mobile" aria-hidden="true"></i> Контактный тел. (mobile):</td>
                            <td>{{user.person.phone_number}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-address-card-o" aria-hidden="true"></i> Ваш статус пользователя:</td>
                            <td>{{user.person.status}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
