<!DOCTYPE html>

{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
    О проекте | {{block.super}}
{% endblock %}



{% block content %}

    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
            <li data-target="#myCarousel" data-slide-to="9"></li>
            <li data-target="#myCarousel" data-slide-to="10"></li>
            <li data-target="#myCarousel" data-slide-to="11"></li>
            <li data-target="#myCarousel" data-slide-to="12"></li>
            <li data-target="#myCarousel" data-slide-to="13"></li>
            <li data-target="#myCarousel" data-slide-to="14"></li>
            <li data-target="#myCarousel" data-slide-to="15"></li>
            <li data-target="#myCarousel" data-slide-to="16"></li>
            <li data-target="#myCarousel" data-slide-to="17"></li>
            <li data-target="#myCarousel" data-slide-to="18"></li>
            <li data-target="#myCarousel" data-slide-to="19"></li>
            <li data-target="#myCarousel" data-slide-to="20"></li>
            <li data-target="#myCarousel" data-slide-to="21"></li>
            <li data-target="#myCarousel" data-slide-to="22"></li>
            <li data-target="#myCarousel" data-slide-to="23"></li>
            <li data-target="#myCarousel" data-slide-to="24"></li>
            <li data-target="#myCarousel" data-slide-to="25"></li>
            <li data-target="#myCarousel" data-slide-to="26"></li>
            <li data-target="#myCarousel" data-slide-to="27"></li>
            <li data-target="#myCarousel" data-slide-to="28"></li>
            <li data-target="#myCarousel" data-slide-to="29"></li>
            <li data-target="#myCarousel" data-slide-to="30"></li>
            <li data-target="#myCarousel" data-slide-to="31"></li>
            <li data-target="#myCarousel" data-slide-to="32"></li>
            <li data-target="#myCarousel" data-slide-to="33"></li>
            <li data-target="#myCarousel" data-slide-to="34"></li>
            <li data-target="#myCarousel" data-slide-to="35"></li>
            <li data-target="#myCarousel" data-slide-to="36"></li>
            <li data-target="#myCarousel" data-slide-to="37"></li>
            <li data-target="#myCarousel" data-slide-to="38"></li>
            <li data-target="#myCarousel" data-slide-to="39"></li>
            <li data-target="#myCarousel" data-slide-to="40"></li>
            <li data-target="#myCarousel" data-slide-to="41"></li>
            <li data-target="#myCarousel" data-slide-to="42"></li>
            <li data-target="#myCarousel" data-slide-to="43"></li>
            <li data-target="#myCarousel" data-slide-to="44"></li>
            <li data-target="#myCarousel" data-slide-to="45"></li>
            <li data-target="#myCarousel" data-slide-to="46"></li>
            <li data-target="#myCarousel" data-slide-to="47"></li>
            <li data-target="#myCarousel" data-slide-to="48"></li>
            <li data-target="#myCarousel" data-slide-to="49"></li>
            <li data-target="#myCarousel" data-slide-to="50"></li>
            <li data-target="#myCarousel" data-slide-to="51"></li>
            <li data-target="#myCarousel" data-slide-to="52"></li>
            <li data-target="#myCarousel" data-slide-to="53"></li>
            <li data-target="#myCarousel" data-slide-to="54"></li>
            <li data-target="#myCarousel" data-slide-to="55"></li>
            <li data-target="#myCarousel" data-slide-to="56"></li>
            <li data-target="#myCarousel" data-slide-to="57"></li>
            <li data-target="#myCarousel" data-slide-to="58"></li>
            <li data-target="#myCarousel" data-slide-to="59"></li>
            <li data-target="#myCarousel" data-slide-to="60"></li>
            <li data-target="#myCarousel" data-slide-to="61"></li>
            <li data-target="#myCarousel" data-slide-to="62"></li>
            <li data-target="#myCarousel" data-slide-to="63"></li>
            <li data-target="#myCarousel" data-slide-to="64"></li>
            <li data-target="#myCarousel" data-slide-to="65"></li>
            <li data-target="#myCarousel" data-slide-to="66"></li>
            <li data-target="#myCarousel" data-slide-to="67"></li>
            <li data-target="#myCarousel" data-slide-to="68"></li>
            <li data-target="#myCarousel" data-slide-to="69"></li>
            <li data-target="#myCarousel" data-slide-to="70"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="{% static 'img/persons/Putin.jpg' %}" alt="President" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Medvedev.jpg' %}" alt="Premier" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Lavrov.jpg' %}" alt="MID" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Nabiullina.jpg' %}" alt="Bank of Russia" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Kudrin.jpg' %}" alt="Kudrin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Zhirinovsky.jpg' %}" alt="LDPR" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Khodorkovsky.jpg' %}" alt="Khodorkovsky" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Navalny.jpg' %}" alt="Navalny" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Usmanov.jpg' %}" alt="Usmanov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Abramovich.jpg' %}" alt="Abramovich" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Rottenbergs.jpg' %}" alt="Rottenbergs" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Chubays.jpg' %}" alt="Chubays" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Volodin.jpg' %}" alt="Volodin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Dvorkovich.jpg' %}" alt="Dvorkovich" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Zheleznyak.jpg' %}" alt="Zheleznyak" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Sechin.jpg' %}" alt="Sechin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Ulyukaev.jpg' %}" alt="Ulyukaev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Siluanov.jpg' %}" alt="Siluanov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Peskov.jpg' %}" alt="Peskov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Shuvalov.jpg' %}" alt="Shuvalov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Khinstein.jpg' %}" alt="Khinstein" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Gref.jpg' %}" alt="Gref" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Miller.jpg' %}" alt="Millner" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Rogozin.jpg' %}" alt="Rogozin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Shoygu.jpg' %}" alt="Shoygu" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Sobyanin.jpg' %}" alt="Sobyanin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Kolokoltzev.jpg' %}" alt="Kolokoltzev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Matvienko.jpg' %}" alt="Matvienko" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Chayka.jpg' %}" alt="Chayka" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Chayka_Igor.jpg' %}" alt="Chayka Igor" width="100%">
            </div>

            <!--<div class="item">-->
                <!--<img src="{% static 'img/persons/Chayka_Artyom.jpg' %}" alt="Chayka Artyom" width="100%">-->
            <!--</div>-->

            <div class="item">
                <img src="{% static 'img/persons/Yarovaya.jpg' %}" alt="Yarovaya" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Skvortzova.jpg' %}" alt="Skvortzova" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Novak.jpg' %}" alt="Novak" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Zyuganov.jpg' %}" alt="Zyuganov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Mironov.jpg' %}" alt="Mironov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Sobchak.jpg' %}" alt="Sobchak" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Venediktov.jpg' %}" alt="Venediktov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Prokhorov.jpg' %}" alt="Prokhorov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Potanin.jpg' %}" alt="Potanin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Lisovsky.jpg' %}" alt="Lisovsky" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Pozner.jpg' %}" alt="Pozner" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Soloviev.jpg' %}" alt="Soloviev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Kadyrov.jpg' %}" alt="Kadyrov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Tinkov.jpg' %}" alt="Tinkov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Fridman.jpg' %}" alt="Fridman" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Aven.jpg' %}" alt="Aven" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Surkov.jpg' %}" alt="Surkov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Ivanov.jpg' %}" alt="Ivanov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Deripaska.jpg' %}" alt="Deripaska" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Naryshkin.jpg' %}" alt="Naryshkin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Evtushenkov.jpg' %}" alt="Evtushenkov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Patrushev.jpg' %}" alt="Patrushev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Bortnikov.jpg' %}" alt="Bortnikov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Neverov.jpg' %}" alt="Neverov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Timchenko.jpg' %}" alt="Timchenko" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Milner.jpg' %}" alt="Milner" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Gandapas.jpg' %}" alt="Gandapas" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Mordashov.jpg' %}" alt="Mordashov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Alekperov.jpg' %}" alt="Alekperov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Yakunin.jpg' %}" alt="Yakunin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Aksyonov.jpg' %}" alt="Aksyonov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Lisin.jpg' %}" alt="Lisin" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Gutzeriev.jpg' %}" alt="Gutzeriev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Tkachev.jpg' %}" alt="Tkachev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Sterligov.jpg' %}" alt="Sterligov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Kucherena.jpg' %}" alt="Kucherena" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Glazyev.jpg' %}" alt="Glazyev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Vorobiev.jpg' %}" alt="Vorobiev" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Chemezov.jpg' %}" alt="Chemezov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Manturov.jpg' %}" alt="Manturov" width="100%">
            </div>

            <div class="item">
                <img src="{% static 'img/persons/Patriarh_Kirill.jpg' %}" alt="Patriarh Kirill" width="100%">
            </div>
        </div>

        <h3 class="text-left">&laquo;Statistics&raquo; project<br>
            <small>
                Политика, общество, бизнес ...
            </small>
        </h3>
    </div>
<hr>
    <div class="news">
        <div class="jumbotron">
            <h3>Новостной блок <small>в формате статей и видео: </small></h3>
            <p>политика, экономика, социум, технологии, бизнес, биржевые котировки и др. со страниц РБК, Ведомости, Коммерсант, РИА, Fitch, Bloomberg, S&P, LME, NYMEX и др. </p>
        </div>
    </div>

{% endblock %}
