<!DOCTYPE html>

{% load static from staticfiles %}

{% block content %}
    <h3>
        <i class="fa fa-bar-chart" aria-hidden="true"></i> Вы просматриваете общую статистику
    </h3>
<hr>
<div class="side-left">
    <form class="control-label col-sm-12">
        {% csrf_token %}
        <h4>
            Настройки поиска:
        </h4>
        <hr>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                Выберите ресурс:
            </label>
            <div class="control-label col-sm-6">
                <select id="source" class="form-control" name="source" required="">
                    <option value="unknown">Не выбрано</option>
                    {% if sites %}
                        {% for site in sites %}
                            <option value="{{ site.id }}">
                                {{ site.name }}
                            </option>
                        {% endfor %}
                    {% else %}
                    <option value="#">Have no sites</option>
                    {% endif %}
                </select>
            </div>
        </div>
    <br>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                Выберите объект:
            </label>
            <div class="control-label col-sm-6">
                <select id="profile" class="form-control" name="profile" required="">
                    <option value="unknown">Не выбрано</option>
                    {% if persons %}
                        {% for person in persons %}
                            <option value="{{ person.id }}">
                                {{ person.name }}
                            </option>
                        {% endfor %}
                    {% else %}
                    <option value="#">Have no source</option>
                    {% endif %}
                </select>
            </div>
        </div>
    <br>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                Визуализация:
            </label>
            <div class="control-label col-sm-6">
                <select id="visualization" class="form-control" name="visualization" required="">
                    <option value="unknown">Не выбрано</option>
                    <option value="#">График</option>
                    <option value="#">Диаграмма</option>
                    <option value="#">Таблица</option>
                </select>
            </div>
        </div>
    <br>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Начало периода:
            </label>
                <input type="date" name="calendar" value="гггг-мм-дд" max="2050-06-04" min="2017-06-20">
        </div>
    <br>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Конец периода:
            </label>
                <input type="date" name="calendar" value="гггг-мм-дд" max="2050-06-04" min="2017-06-20">
        </div>
    <hr>
        <button type="submit" value="Поиск" formmethod="post" class="btn btn-success btn-sm">
            <i class="fa fa-search" aria-hidden="true"></i> Поиск
        </button>
        <button type="reset" value="Очистить" class="btn btn-danger btn-xs">
            <i class="fa fa-refresh" aria-hidden="true"></i> Очистить
        </button>
    </form>
</div>

<div class="side-right">
    <h4>
        Результат:
    </h4>
    <hr>
    <div class="row">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Ресурс</th>
        <th>Объект</th>
        <th>Ключевые слова</th>
        <th>Упоминания</th>
      </tr>
    </thead>
     <tbody>
    {% if persons %}
        {% for person in persons %}
    {% for site in sites %}
        <tr>

            <td>{{ site.name }}</td>
            <td>{{ person.name }}</td>
            <td>{% for keyword in keywords %}
                {% if keyword.person_id_id == person.id %}
                {{ keyword.name}};
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for rank in person_ranks %}
                    {% if rank.person_id_id == person.id and rank.page_id_id == site.id %}
                        {{ rank.rank }}
                    {% endif %}
                {% endfor %}
            </td>
          </tr>
    {% endfor %}
    {% endfor %}

    {% endif %}
    </tbody>
  </table>
    </div>
</div>

{% endblock %}