<!DOCTYPE html>

{% load static from staticfiles %}

<div class="col-lg-12">
<iframe style="width:350px;border:1px solid #222222;overflow:scroll;background-color:transparent;height:200px"
        src="https://fortrader.org/informers/getInformer?st=9&cat=17&mult=0.64&showGetBtn=0&w=350&codes=1&colors=titleTextColor%3Dffffff%2CtitleBackgroundColor%3D222222%2CthTextColor%3D454545%2CthBackgroundColor%3Dfff%2CsymbolTextColor%3D454545%2CtableTextColor%3D454545%2CborderTdColor%3De8e8e8%2CtableBorderColor%3De8e8e8%2CprofitTextColor%3D888888%2CprofitBackgroundColor%3Deaf7e1%2ClossTextColor%3Dff0000%2ClossBackgroundColor%3Df6e1e1%2CoddBackgroundTrColor%3Dfff%2CevenBackgroundTrColor%3Dfff%2CdataTextColor%3Dcccccc%2CdataBackgroundColor%3D222222%2CinformerLinkTextColor%3Dcccccc%2CinformerLinkBackgroundColor%3Df1f1f1&items=2%2C30%2C11%2C55%2C54%2C53%2C60%2C22%2C8%2C17%2C11115%2C11113%2C11111%2C11118&columns=direct&toCur=21">
</iframe>
    <hr>
</div>