<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Главная страница | {{block.super}}
{% endblock %}


{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">О компании</h1>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">О компании</a></li>
    <li><a data-toggle="tab" href="#menu0">Наш продукт</a></li>
    <li><a data-toggle="tab" href="#menu1">Наша команда</a></li>
    <li><a data-toggle="tab" href="#menu2">Download</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <br>
        <p class="text-left">
            <img src="{% static 'img/GBCA_logo.png' %}" alt="GB Community of Alumni">
        </p>
    </div>

    <div id="menu1" class="tab-pane fade">
        <section class="col-lg-12 text-center">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/avatar1.png' %}" alt="">
                <h3>Pavel Lisitsyn<br>
                    <small>Team Leader, Python Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!This is also a great spot for social links! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/avatar.png' %}" alt="">
                <h3>Anastasia Chernyshova<br>
                    <small>Python programmer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!This is also a great spot for social links! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links! This is also a great spot for social links! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{% static 'img/unknown.png' %}" alt="">
                <h3>John Smith<br>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </section>
    </div>

    <div id="menu2" class="tab-pane fade">
        <h2>Download</h2>
        <section class="col-lg-12 text-center" id="download">
            <h2 class="section-heading">Download</h2>
            <p>Мобильную версия приложения для iOS и Android, а также десктопное приложение можно скачать по ссылкам ниже: </p>
            <div class="badges">
                <a class="badge-link" href="#"><img src="{% static 'img/google-play-badge.svg' %}" alt="" width="15%"></a>
                <a class="badge-link" href="#"><img src="{% static 'img/app-store-badge.svg' %}" alt="" width="15%"></a>
                <a class="badge-link" href="#"><i class="fa fa-download fa-4x"></i></a>
                <a class="badge-link" href="#"><i class="fa fa-desktop fa-4x"></i></a>
            </div>
            <hr>
        </section>

        <section class='text-center'>
            <div id="pricing" class="container-fluid">
                <div class="text-center">
                    <h2>Pricing</h2>
                    <h4>Choose a payment plan that works for you</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Free</h1>
                            </div>
                            <div class="panel-body">
                                <p><strong>20</strong> web-source</p>
                                <p><strong>15</strong> target-names</p>
                                <p><strong>5</strong> smth else</p>
                                <p><strong>Endless</strong> access to statistic</p>
                            </div>
                            <div class="panel-footer">
                                <h3>0%</h3>
                                <h4>per month</h4>
                                <button class="btn btn-lg">Sign Up</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Pro</h1>
                            </div>
                            <div class="panel-body">
                                <p><strong>100</strong> web-sources</p>
                                <p><strong>50</strong> target-names</p>
                                <p><strong>10</strong> smth else</p>
                                <p><strong>Endless</strong> access to statistic</p>
                            </div>
                            <div class="panel-footer">
                                <h3>$15</h3>
                                <h4>per month</h4>
                                <button class="btn btn-lg">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="menu0" class="tab-pane fade">

        <p class="text-left">
            <h2 class='text-center'>Программный продукт 'Statistics'</h2>
            <img src="{% static 'img/Statistics_logo.png' %}" alt="Statistics">
        </p>

        <p>
            Уважаемые Господа! Представляем Вашему вниманию «Statistics» - пилотный программный продукт,
            полностью разработанный компанией GBCA – Сообществом выпускников школы программирования «GeekBrains»
            (Mail.Ru Group).
        </p>

        <h3 class="w3-center">Information system 'Statistics'</h3>
        <div class='row'>
            <div class='col-lg-12 text-center'>

                <div class="w3-content w3-section" style="max-width:500px">
                    <img class="mySlides" src="{% static 'img/slider/1.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/2.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/3.png' %}" >
                </div>

                 <script>
                 var myIndex = 0;
                 carousel();

                 function carousel() {
                     var i;
                     var x = document.getElementsByClassName("mySlides");
                     for (i = 0; i < x.length; i++) {
                     x[i].style.display = "none";
                     }
                     myIndex++;
                     if (myIndex > x.length) {myIndex = 1}
                     x[myIndex-1].style.display = "block";
                     setTimeout(carousel, 2000); // Change image every 2 seconds
                 }
                 </script>
            </div>
        </div>

        <section class="col-lg-12 text-left">

            <h3>Описание продукта</h3>
            <p>
                «Statistics» позволяет пользователю собирать сведения по интересующему его политическому или общественному деятелю в контексте частоты упоминания фамилии последнего как на интернет-страницах официальных СМИ, так и в глобальном информационном пространстве.<br>

                Потенциальные пользователи «Statistics» - новостные сайты и информационные агенства, социологические службы и службы статистики (как государственные, так и коммерческие), высшие гуманитарные учебные заведения, рейтинговые агенства, PR-службы политических партий и отдельных политических деятелей, а также многие другие.
            </p>
            <h3>Как это работает</h3>
            <p>
                Пользователю, прошедшему процедуру регистрации/авторизации предоставляется возможность просмотреть «Общую» и «Ежедневную (за выбранный период)» статистику упоминаний интересующей его личности на указанном пользователем сайте. Сбор статистики осуществляется по списку ключевых слов, относящихся к выбранной персоне.<br>

                Пополнение списка сайтов, списка страниц сайтов, списка фамилий, а также списка ключевых слов осуществляет пользователь, обладающий правами администратора. Администратор также имеет доступ к «Общей» и «Ежедневной статистике», имеет возможность обрабатывать запросы на создание учётной записи пользователя и администратора.<br>

                Визуальное представление информации по запросу пользователя реализовано в трёх вариантах: таблица, график, диаграмма.
            </p>
            <h3>Technology stack</h3>
            <p>
                Продукт разработан на стеке наиболее современных технологий –<br> Python/Django/HTML5/CSS3/Bootstrap/JavaScript/Jquery/Ajax/JSON/Java/Swift/Objective-C/REST/MySQL и др.
            </p>
                <h3>Interfaces</h3>
            <p>
                Пользователю предоставляется возможность выбора наиболее удобного для него интерфейса:
            </p>
            <ul>
                <li>web-сайт</li>
                <li>desktop app.</li>
                <li>mobile app.</li>
            </ul>

            <h3>Функционал</h3>
            <p>
                Пользователю предлагается бесплатный и платный доступ к продукту на выбор.
                Преимуществами платного доступа являются:
            </p>

            <ul>
                <li>возможность для администратора добавить более 3-х базовых сайтов в список поиска;</li>
                <li>возможность для администратора добавить более 5 личностей в список поиска;</li>
                <li>возможность для администратора добавлять новые сайты в список поиска.</li>
            </ul>

            <p>
                Вы можете ознакомиться с описанием полного функционала сервиса, посетив Web-сайт продукта «Statistics».
            </p>
            <p>
                Скачать продукт в интересующем Вас формате реализации можно по ссылкам:
            </p>
            <ul>
                <li>Mobile App (Android Market)</li>
                <li>Desktop App</li>
            </ul>

            <p>
                Технические требования для корректной работы продукта:
            </p>

            <ul>
                <li>mobile: iOS ...</li>
                <li>desktop: OS ...</li>
            </ul>

            <p class="text-left">
                1.2.1. Видео на фоне на котором демонстрируется функционал программы.<br>
                1.2.2. Краткое, но емкое описание программы. <br>
                Для чего;<br>
                Что умеет бесплатная версия;<br>
                Что умеет платная версия;<br>
                Пара ярких слов о лучшей тех. поддержке.<br>
                Ссылки на скачивание мобильных и десктопных приложений<br>
                Ссылки на все веб-интерфейсы
            </p>
            <hr>
        </section>
    </div>
</div>
{% endblock %}