<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Главная страница | {{block.super}}
{% endblock %}

{% block menu %}
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> О компании </a></li>
        <li><a href="/privateroom/"><i class="fa fa-user-circle"></i> Личный кабинет </a></li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                <i class="fa fa-fw fa-arrows-v"></i> Статистика <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="demo" class="collapse">
                <li><a href="/daily_statistics/"> Ежедневная статистика <i class="fa fa-fw fa-bar-chart-o"></i></a></li>
                <li><a href="/periodic_statistics/"> Статистика за период <br> <i class="fa fa-fw fa-table"></i></a></li>
            </ul>
        </li>
        <li><a href="/partnership/"><i class="fa fa-fw fa-handshake-o"></i> Партнерство </a></li>
        <li><a href="/contacts/"><i class="fa fa-address-book-o"></i> Контакты </a></li>
        <li><a href="/review/"><i class="fa fa-commenting"></i> Отзывы </a></li>
        <li><a href="/support/"><i class="fa fa-fw fa-wrench"></i> ТехПоддержка </a></li>
        <li>
            <a href="/registration/">
                <button type="submit" value="Ок" class="btn btn-danger btn-sm">
                    <i class="fa fa-plus-square"></i> Зарегистрироваться
                </button>
            </a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">О компании</h1>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">О компании</a></li>
    <li><a data-toggle="tab" href="#menu0">Наш продукт</a></li>
    <li><a data-toggle="tab" href="#menu1">Наша команда</a></li>
    <li><a data-toggle="tab" href="#menu2">Download</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <br>
        <p class="text-left">
            <img src="{% static 'img/GBCA_logo.png' %}" alt="GB Community of Alumni">
        </p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet malesuada massa. Sed tempus leo vitae felis
    lobortis convallis. Sed ligula ligula, molestie vel ante eu, euismod molestie velit. Proin justo erat, varius eu
    semper in, eleifend ut justo. Phasellus dapibus ante eget sapien dapibus luctus. Nullam odio ex, pretium vitae
    tellus eget, ullamcorper tristique velit. Nam congue, sem suscipit scelerisque rhoncus, ligula nisl eleifend mauris,
    a porttitor mauris lorem vel urna. Morbi imperdiet, lorem nec malesuada commodo, justo erat posuere turpis, eu
    volutpat eros quam et nunc. Sed a rutrum orci, at fringilla turpis. Nam nulla leo, rutrum in lacus vitae, imperdiet
    ullamcorper magna. Vivamus nulla nibh, egestas at justo quis, pellentesque blandit metus. Mauris sed vestibulum
    orci, quis sodales metus. Donec sollicitudin metus venenatis vehicula blandit.
</p>
<p>
    Donec orci elit, ullamcorper vitae pellentesque sed, pulvinar maximus justo. Sed feugiat elementum ligula, quis
    consectetur nisi facilisis feugiat. Morbi lobortis, eros sit amet blandit ullamcorper, neque lectus egestas mi,
    non dictum libero mi in ipsum. Praesent ac ex et diam commodo efficitur. Mauris rhoncus risus eu augue tempus,
    sit amet feugiat purus dignissim. Integer placerat pellentesque ex ac commodo. Sed molestie at justo a vestibulum.
    Duis fermentum tristique augue. Mauris posuere fringilla scelerisque.
</p>

<p>
    Ut luctus, lorem consectetur congue finibus, metus eros condimentum nibh, a ultrices sem dolor at odio. Proin ac
    nibh fringilla, cursus orci et, pretium nisl. Donec at blandit nibh. Vivamus et diam rhoncus, sodales est et,
    mattis mauris. Ut ac leo non nisl aliquet scelerisque eget sed arcu. Proin egestas turpis massa, sit amet consequat
    nunc iaculis nec. Fusce eget risus commodo, convallis mauris sed, semper mauris. Donec pellentesque odio vitae odio
    interdum bibendum. Proin vitae auctor tellus. Sed id nunc consequat enim tincidunt aliquet. Praesent pharetra libero
    ac tincidunt sagittis. Vestibulum porta, nisl sed luctus dictum, tortor dui vestibulum odio, eget fermentum sem odio
    at massa. Praesent ut ullamcorper diam. Nulla erat quam, faucibus quis nisl non, sodales ultricies ante. Nulla sed
    egestas ex.

Duis iaculis finibus velit et scelerisque. Suspendisse quis dolor ex. Duis nunc tellus, interdum a est et, facilisis
    tempor leo. Donec ut magna leo. Vestibulum sollicitudin, elit eu sagittis venenatis, dolor tortor pharetra mi,
    facilisis molestie sapien arcu ac arcu. Pellentesque tristique velit porttitor, gravida sapien non, varius ex.
    Donec sed metus in libero rhoncus posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Aenean sit amet dui sed ipsum iaculis tristique. Sed luctus, ligula eget finibus consequat, quam
    sapien ornare nunc, in lacinia mi lorem non arcu. Pellentesque pellentesque mi eget aliquet pretium. Nam sodales
    tristique ante, sed mattis leo aliquet a.
</p>

<p>
    Vestibulum bibendum diam eros, a tempor dolor tempor quis. Nam elementum a ligula id placerat. Integer aliquet
    lacus dolor, in porttitor justo bibendum quis. Proin condimentum mi quis ultricies fringilla. Cras bibendum sagittis
    sagittis. Sed quis erat id mi fringilla viverra et sit amet neque. Sed vitae tortor ut eros ultricies dignissim.
    Phasellus iaculis turpis vitae pretium sollicitudin. Quisque at nisl id lorem semper dapibus eget in urna. Vivamus
    lorem lorem, convallis efficitur justo in, dapibus molestie neque. Maecenas aliquet lacus sed neque porttitor, at
    tincidunt orci venenatis. Aliquam ligula urna, tempor non ullamcorper et, euismod at tellus.
</p>
    </div>

    <div id="menu1" class="tab-pane fade">
        <section class="col-lg-12 text-center">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Pavel_Lisitsyn.jpg' %}" alt="Pavel Lisitsyn" width="85%">
                    <h4>
                        Pavel Lisitsyn<br>
                        <small>Team Leader, Python Developer</small>
                    </h4>
                    <b>Команда:</b> Website.<br>
                    <b>Компетенции:</b> Web development, design.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Anastasia_Chernyshova.png' %}" alt="Anastasia Chernyshova" width="85%">
                    <h4>
                        Anastasia Chernyshova<br>
                        <small>Python Developer</small>
                    </h4>
                    <b>Команда:</b> Website.<br>
                    <b>Компетенции:</b> Web development, design.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Michail_Ageev.jpg' %}" alt="Michail Ageev" width="85%">
                    <h4>
                        Michail Ageev<br>
                        <small>iOS Developer (Objective-C, Swift)</small>
                    </h4>
                    <b>Команда:</b> Mobile App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Dmitry_Sherbachenko.jpg' %}" alt="Dmitry Sherbachenko" width="85%">
                    <h4>
                        Dmitry Sherbachenko<br>
                        <small>iOS Developer (Objective-C, Swift)</small>
                    </h4>
                    <b>Команда:</b> Mobile App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Yury Alyokhin" width="85%">
                    <h4>
                        Yury Alyokhin<br>
                        <small>iOS Developer (Objective-C, Swift)</small>
                    </h4>
                    <b>Команда:</b> Mobile App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Ilya_Kislov.jpg' %}" alt="Ilya Kislov" width="85%">
                    <h4>
                        Ilya Kislov<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Web Service REST.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Denis_Evseev.jpg' %}" alt="Denis Evseev" width="85%">
                    <h4>
                        Denis Evseev<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Web-service REST.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Anastasiya_Kolmakova.jpg' %}" alt="Anastasiya Kolmakova" width="85%">
                    <h4>
                        Anastasiya Kolmakova<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Web-service REST.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Anatoly_Ekert.jpg' %}" alt="Anatoly Ekert" width="85%">
                    <h4>
                        Anatoly Ekert<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Web-service REST.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

                        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Alexey Volynshikov" width="85%">
                    <h4>
                        Alexey Volynshikov<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Web-service REST.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Sergey Kogut" width="85%">
                    <h4>
                        Sergey Kogut<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Web-service REST.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Ilya_Usachev.jpg' %}" alt="Ilya Usachev" width="85%">
                    <h4>
                        Ilya Usachev<br>
                        <small>Ruby Developer</small>
                    </h4>
                    <b>Команда:</b> Web AI.<br>
                    <b>Компетенции:</b> Administrator interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Ekaterina_Berdova.jpg' %}" alt="Ekaterina Berdova" width="85%">
                    <h4>
                        Ekaterina Berdova<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Desktop App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Alexey_Isaev.jpg' %}" alt="Alexey Isaev" width="85%">
                    <h4>
                        Alexey Isaev<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Desktop App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Alexey Somov" width="85%">
                    <h4>
                        Alexey Somov<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Desktop App.<br>
                    <b>Компетенции:</b> Administrator interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Andrey Brazhnikov" width="85%">
                    <h4>
                        Andrey Brazhnikov<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Desktop App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Vladimir Baykin" width="85%">
                    <h4>
                        Vladimir Baykin<br>
                        <small>C# Developer</small>
                    </h4>
                    <b>Команда:</b> Desktop App.<br>
                    <b>Компетенции:</b> User interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Michail Gusev" width="85%">
                    <h4>
                        Michail Gusev<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Desktop App.<br>
                    <b>Компетенции:</b> Administrator interface development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Yury_Tilman.jpg' %}" alt="Yury Tilman" width="85%">
                    <h4>
                        Yury Tilman<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Crawler.<br>
                    <b>Компетенции:</b> Разработчик классов.
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Anton_Malyshev.jpg' %}" alt="Anton Malyshev" width="85%">
                    <h4>
                        Anton Malyshev<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Crawler.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/Sergey_Kavtaskin.jpg' %}" alt="Sergey Kavtaskin" width="85%">
                    <h4>
                        Sergey Kavtaskin<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Crawler.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Alexandr Demin" width="85%">
                    <h4>
                        Alexandr Demin<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Crawler.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Anton Tintul" width="85%">
                    <h4>
                        Anton Tintul<br>
                        <small>Java Developer</small>
                    </h4>
                    <b>Команда:</b> Crawler.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-circle img-responsive img-center" src="{% static 'img/photos/question.jpg' %}" alt="Sergey Sergey" width="85%">
                    <h4>
                        Sergey Sergey<br>
                        <small>Developer</small>
                    </h4>
                    <b>Команда:</b> Crawler.<br>
                    <b>Компетенции:</b> Development<br>Development.<br>
                    <div class="sprites">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-trello" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="menu2" class="tab-pane fade">
        <h2>Download</h2>
        <section class="col-lg-12 text-center" id="download">
            <h2 class="section-heading">Download</h2>
            <p>Мобильную версия приложения для iOS и Android, а также десктопное приложение можно скачать по ссылкам ниже: </p>
            <div class="badges">
                <a class="badge-link" href="#"><img src="{% static 'img/google-play-badge.svg' %}" alt="" width="15%"></a>
                <a class="badge-link" href="#"><img src="{% static 'img/app-store-badge.svg' %}" alt="" width="15%"></a>
                <a class="badge-link" href="#"><i class="fa fa-download fa-4x"></i></a>
                <a class="badge-link" href="#"><i class="fa fa-desktop fa-4x"></i></a>
            </div>
            <hr>
        </section>

        <section class='text-center'>
            <div id="pricing" class="container-fluid">
                <div class="text-center">
                    <h2>Pricing</h2>
                    <h4>Choose a payment plan that works for you</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Free</h1>
                            </div>
                            <div class="panel-body">
                                <p><strong>20</strong> web-source</p>
                                <p><strong>15</strong> target-names</p>
                                <p><strong>5</strong> smth else</p>
                                <p><strong>Endless</strong> access to statistic</p>
                            </div>
                            <div class="panel-footer">
                                <h3>0%</h3>
                                <h4>per month</h4>
                                <button class="btn btn-lg">Sign Up</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Pro</h1>
                            </div>
                            <div class="panel-body">
                                <p><strong>100</strong> web-sources</p>
                                <p><strong>50</strong> target-names</p>
                                <p><strong>10</strong> smth else</p>
                                <p><strong>Endless</strong> access to statistic</p>
                            </div>
                            <div class="panel-footer">
                                <h3>$15</h3>
                                <h4>per month</h4>
                                <button class="btn btn-lg">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="menu0" class="tab-pane fade">

        <p class="text-left">
            <h2 class='text-center'>Программный продукт 'Statistics'</h2>
            <img src="{% static 'img/Statistics_logo.png' %}" alt="Statistics">
        </p>

        <p>
            Уважаемые Господа! Представляем Вашему вниманию «Statistics» - пилотный программный продукт,
            полностью разработанный компанией GBCA – Сообществом выпускников школы программирования «GeekBrains»
            (Mail.Ru Group).
        </p>

        <h3 class="w3-center">Information system 'Statistics' sсheme</h3>
        <div class='row'>
            <div class='col-lg-12 text-center'>

                <div class="w3-content w3-section" style="max-width:500px">
                    <img class="mySlides" src="{% static 'img/slider/about.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/private.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/user1.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/user2.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/admin0.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/admin1.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/admin2.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/admin3.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/admin4.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/partnership.png' %}" >
                    <img class="mySlides" src="{% static 'img/slider/contacts.png' %}" >
                </div>

                 <script>
                 var myIndex = 0;
                 carousel();

                 function carousel() {
                     var i;
                     var x = document.getElementsByClassName("mySlides");
                     for (i = 0; i < x.length; i++) {
                     x[i].style.display = "none";
                     }
                     myIndex++;
                     if (myIndex > x.length) {myIndex = 1}
                     x[myIndex-1].style.display = "block";
                     setTimeout(carousel, 2000); // Change image every 2 seconds
                 }
                 </script>
            </div>
        </div>

        <section class="col-lg-12 text-left">

            <h3>Описание продукта</h3>
            <p>
                «Statistics» позволяет пользователю собирать сведения по интересующему его политическому или общественному деятелю в контексте частоты упоминания фамилии последнего как на интернет-страницах официальных СМИ, так и в глобальном информационном пространстве.<br>

                Потенциальные пользователи «Statistics» - новостные сайты и информационные агенства, социологические службы и службы статистики (как государственные, так и коммерческие), высшие гуманитарные учебные заведения, рейтинговые агенства, PR-службы политических партий и отдельных политических деятелей, а также многие другие.
            </p>
            <h3>Как это работает</h3>
            <p>
                Пользователю, прошедшему процедуру регистрации/авторизации предоставляется возможность просмотреть «Общую» и «Ежедневную (за выбранный период)» статистику упоминаний интересующей его личности на указанном пользователем сайте. Сбор статистики осуществляется по списку ключевых слов, относящихся к выбранной персоне.<br>

                Пополнение списка сайтов, списка страниц сайтов, списка фамилий, а также списка ключевых слов осуществляет пользователь, обладающий правами администратора. Администратор также имеет доступ к «Общей» и «Ежедневной статистике», имеет возможность обрабатывать запросы на создание учётной записи пользователя и администратора.<br>

                Визуальное представление информации по запросу пользователя реализовано в трёх вариантах: таблица, график, диаграмма.
            </p>
            <h3>Technology stack</h3>
            <p>
                Продукт разработан на стеке наиболее современных технологий –<br> Python/Django/HTML5/CSS3/Bootstrap/JavaScript/Jquery/Ajax/JSON/Java/Swift/Objective-C/REST/MySQL и др.
            </p>
                <h3>Interfaces</h3>
            <p>
                Пользователю предоставляется возможность выбора наиболее удобного для него интерфейса:
            </p>
            <ul>
                <li>web-сайт</li>
                <li>desktop app.</li>
                <li>mobile app.</li>
            </ul>

            <h3>Функционал</h3>
            <p>
                Пользователю предлагается бесплатный и платный доступ к продукту на выбор.
                Преимуществами платного доступа являются:
            </p>

            <ul>
                <li>возможность для администратора добавить более 3-х базовых сайтов в список поиска;</li>
                <li>возможность для администратора добавить более 5 личностей в список поиска;</li>
                <li>возможность для администратора добавлять новые сайты в список поиска.</li>
            </ul>

            <p>
                Вы можете ознакомиться с описанием полного функционала сервиса, посетив Web-сайт продукта «Statistics».
            </p>
            <p>
                Скачать продукт в интересующем Вас формате реализации можно по ссылкам:
            </p>
            <ul>
                <li>Mobile App (Android Market)</li>
                <li>Desktop App</li>
            </ul>

            <p>
                Технические требования для корректной работы продукта:
            </p>

            <ul>
                <li>mobile: iOS ...</li>
                <li>desktop: OS ...</li>
            </ul>

            <p class="text-left">
                1.2.1. Видео на фоне на котором демонстрируется функционал программы.<br>
                1.2.2. Краткое, но емкое описание программы. <br>
                Для чего;<br>
                Что умеет бесплатная версия;<br>
                Что умеет платная версия;<br>
                Пара ярких слов о лучшей тех. поддержке.<br>
                Ссылки на скачивание мобильных и десктопных приложений<br>
                Ссылки на все веб-интерфейсы
            </p>
            <hr>
        </section>
    </div>
</div>
{% endblock %}