<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Кабинет администратора сайта | {{block.super}}
{% endblock %}

{% block content %}
    {% block js %}
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/create_user.js"></script>
    {% endblock %}
    {#<div id="csrfmiddlewaretoken" style="display: none;">{% csrf_token %}</div>#}

    <div class="page-header">
        <div class="row">
            {% block header %}
                <div class="col-md-12">
                    <h1>Кабинет администратора сайта</h1>
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        {% block menu %}
            <ul>
                <li>
                    <a href="#">User-Администраторы</a>
                </li>
                <li>
                    <a href="#">User-пользователи </a>
                </li>
            </ul>
        {% endblock %}
    </div>

    <div class="row">
            base % context % template
    </div>

{% endblock %}