<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Партнёрство | {{block.super}}
{% endblock %}

{% block content %}

<div class="page-header">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                Партнёрство <small> и совместное развитие </small>
            </h1>
        </div>
    </div>
</div>

<p>
    &laquo;
    ...Сначала видение — затем его материальное воплощение.
    Сначала мысль — затем целенаправленное движение по единственному пути к избранной цели.
    Может ли одно иметь хоть какой-то смысл без другого?
    Разве это не порок — желать чего-то и бездействовать или действовать, не имея цели?&raquo;<br>
    <h5 class="text-right">&copy; Айн Рэнд, &laquo;Атлант расправил плечи&raquo;.</h5>
</p>
<br>
<div class="raw">
    <h4>
        Мы открыты к диалогу по реализации интересных и нетривиальных идей в формате взаимовыгодного сотрудничества<br>
    </h4>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>Основные стратегии развития</h4>
    </div>
    <div class="panel-body">
        <p>
            <b><i class="fa fa-level-down" aria-hidden="true"></i>
            Ниже приводится обзор наиболее интересных на сегодняшний день направлений партнёрства.
            Если Вы видите среди них интересующие Вас направление - мы ждём обратную связь!</b>
        </p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">Создание корпоративных веб-сайтов</li>
        <li class="list-group-item">Создание веб-ресурсов узкой специфики</li>
        <li class="list-group-item">Mobile & Desktop Apps. [iOS, Android]</li>
        <li class="list-group-item">Тематические порталы и социальные сети</li>
        <li class="list-group-item">Data Science</li>
    </ul>
</div>
{% endblock %}