<!DOCTYPE html>

{% load static from staticfiles %}

{% block content %}
    <h3 >
        <i class="fa fa-users" aria-hidden="true"></i> Вы просматриваете справочник личностей
    </h3>
<hr>
<div class="side-left">
    <form class="control-label col-sm-12">
        {% csrf_token %}
        <h4>
            Текущий список личностей:<br>
        </h4>
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                    </tr>
                </thead>
                <tbody>
                {% if persons %}
                {% for person in persons %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    В базу не добавлены данные для вывода
                {% endif %}
            </table>
        <button type="submit" value="Download .csv" formmethod="get" class="btn btn-primary btn-sm">
            <i class="fa fa-download" aria-hidden="true"></i> Download .csv
        </button>
        <img src="{% static 'img/loading.gif' %}">
        <hr>
        <h4>
            Редактирование:
        </h4>
        <hr>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-user" aria-hidden="true"></i>
                Выберите объект:
            </label>
            <div class="control-label col-sm-6">
                <select id="source" class="form-control" name="source" required="">
                    <option value="unknown">Не выбрано</option>
                    {% if persons %}
                        {% for person in persons %}
                            <option value="{{ person.id }}">
                                {{ person.name }}
                            </option>
                        {% endfor %}
                    {% else %}
                    <option value="#">Нет данных для вывода</option>
                    {% endif %}
                </select>
                <br>
                <button type="submit" value="Поиск" formmethod="get" class="btn btn-success btn-sm">
                    <i class="fa fa-minus-square" aria-hidden="true"></i> Удалить личность
                </button>
            </div>
        </div>
    <hr>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Новая личность:
            </label>
            <div class="control-label col-sm-6">
                <input type="text" size="29" placeholder="Новый объект">
                <br>
                <br>
                <button type="submit" value="Поиск" formmethod="get" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Добавить личность
                </button>
            </div>
        </div>
    <br>
    <hr>
        <button type="reset" value="Очистить" class="btn btn-danger btn-sm">
            <i class="fa fa-refresh" aria-hidden="true"></i> Очистить
        </button>
    </form>
</div>

<div class="side-right">
    <form class="control-label col-sm-12">
        {% csrf_token %}
        <h4>
            Текущий список ключевых слов:<br>
        </h4>
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ключевые слова</th>
                    </tr>
                </thead>
                <tbody>
                {% if keywords %}
                {% for keyword in keywords %}
                <tr>
                    <td>{{ keyword.id }}</td>
                    <td>{{ keyword.name|upper }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    Нет данных для отображения
                {% endif %}
            </table>
        <button type="submit" value="Download .csv" formmethod="get" class="btn btn-primary btn-sm">
            <i class="fa fa-download" aria-hidden="true"></i> Download .csv
        </button>
        <img src="{% static 'img/loading.gif' %}">
        <hr>
        <h4>
            Редактирование:
        </h4>
        <hr>
            <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-key" aria-hidden="true"></i>
                Выберите ключевое слово:
            </label>
            <div class="control-label col-sm-6">
                <select id="source" class="form-control" name="source" required="">
                    <option value="unknown">Не выбрано</option>
                    {% if keywords %}
                        {% for keyword in keywords %}
                            <option value="{{ keyword.id }}">
                                {{ keyword.name|upper }}
                            </option>
                        {% endfor %}
                    {% else %}
                    <option value="#">Нет данных для отображения</option>
                    {% endif %}
                </select>
                <br>
                <button type="submit" value="Поиск" formmethod="get" class="btn btn-success btn-sm">
                    <i class="fa fa-minus-square" aria-hidden="true"></i> Удалить ключевое слово
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <label class="control-label col-sm-6">
                <i class="fa fa-key" aria-hidden="true"></i>
                Введите новое ключевое слово:
            </label>
            <div class="control-label col-sm-6">
                <input type="text" size="29" placeholder="Новое ключевое слово">
                <br>
                <br>
                <button type="submit" value="Поиск" formmethod="get" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Добавить ключевое слово
                </button>
            </div>
        </div>
<br>
        <hr>
        <button type="reset" value="Очистить" class="btn btn-danger btn-sm">
            <i class="fa fa-refresh" aria-hidden="true"></i> Очистить
        </button>
    </form>
</div>

{% endblock %}