{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
    Форма регистрации | {{block.super}}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="registration">
            {% if reg_errors %}
                <ul>
                {% for key, value in reg_errors.items %}
                    <li>{{ key }} - {{ value }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form class="form-horizontal" enctype="multipart/form-data" method="post" role="form" action="/user/registration/">
                {% csrf_token %}
                <!--{{ form.as_p }}-->
                <!--<button class="btn btn-primary btn-block" type="submit" value="Присоединиться">-->
                    <!--<i class="fa fa-plus-square" aria-hidden="true"></i> Присоединиться-->
                <!--</button>-->
                <h3>Пожалуйста, заполните форму регистрации нового пользователя:</h3>
                <br>
                <!--{# include "incl-registration-form_as_table.html" #}-->
                {% include "incl-registration-form.html" %}
                <div class="col-sm-3 col-sm-offset-3">
                    <button class="btn btn-primary btn-block" type="submit" value="Присоединиться">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> Присоединиться
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}