<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Отзывы | {{block.super}}
{% endblock %}


{% block menu %}
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> О компании </a>
        </li>
        <li>
            <a href="/privateroom/"><i class="fa fa-user-circle"></i> Личный кабинет </a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                <i class="fa fa-fw fa-arrows-v"></i> Статистика <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="demo" class="collapse">
                <li><a href="/daily_statistics/"> Ежедневная статистика <i class="fa fa-fw fa-bar-chart-o"></i></a></li>
                <li><a href="/periodic_statistics/"> Статистика за период <br> <i class="fa fa-fw fa-table"></i></a></li>
            </ul>
        </li>
        <li>
            <a href="/partnership/"><i class="fa fa-fw fa-handshake-o"></i> Партнерство </a>
        </li>
        <li>
            <a href="/contacts/"><i class="fa fa-address-book-o"></i> Контакты </a>
        </li>
        <li class="active">
            <a href="/review/"><i class="fa fa-commenting"></i> Отзывы </a>
        </li>
        <li>
            <a href="/support/"><i class="fa fa-fw fa-wrench"></i> ТехПоддержка </a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}

{% block content %}

<section class='text-center'>
    <h2>Что наши партнёры и пользователи говорят о нашем продукте</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

{% endblock %}