<!DOCTYPE html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
    Выслать пароль | {{block.super}}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    <ol class="breadcrumb">
        <li><a href="/privateroom/">Назад в личный кабинет</a></li>
        <li class="/user/sent_password/">Выслать пароль</li>
    </ol>

    <div class="col-sm-12 panel panel-default">
        <br>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <button type="submit" value="Поиск" formmethod="post" class="btn btn-success btn-sm">
                    <i class="fa fa-key"></i> Выслать пароль
                </button>
                <button type="reset" value="Очистить" class="btn btn-danger btn-xs">
                    <i class="fa fa-refresh"></i> Очистить
                </button>
            </form>
        </div>
        <br>
    </div>

    {% else %}
        <h4>Пожалуйста, авторизуйтесь!</h4>
    {% endif %}
{% endblock %}