<!DOCTYPE html>

{% load static from staticfiles %}

{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet malesuada massa. Sed tempus leo vitae felis
        lobortis convallis. Sed ligula ligula, molestie vel ante eu, euismod molestie velit. Proin justo erat, varius eu
        semper in, eleifend ut justo. Phasellus dapibus ante eget sapien dapibus luctus. Nullam odio ex, pretium vitae
        tellus eget, ullamcorper tristique velit. Nam congue, sem suscipit scelerisque rhoncus, ligula nisl eleifend mauris,
        a porttitor mauris lorem vel urna. Morbi imperdiet, lorem nec malesuada commodo, justo erat posuere turpis, eu
        volutpat eros quam et nunc. Sed a rutrum orci, at fringilla turpis. Nam nulla leo, rutrum in lacus vitae, imperdiet
        ullamcorper magna. Vivamus nulla nibh, egestas at justo quis, pellentesque blandit metus. Mauris sed vestibulum
        orci, quis sodales metus. Donec sollicitudin metus venenatis vehicula blandit.
    </p>
{% endblock %}