<!DOCTYPE html>

{% load static from staticfiles %}

<table class="table table-condensed">
    <tbody>
    <tr>
        <td><i class="fa fa-user" aria-hidden="true"></i> Ваш login:</td>
        <td>...</td>
    </tr>
    <tr>
        <td><i class="fa fa-envelope-o" aria-hidden="true"></i> Ваш e-mail:</td>
        <td>...</td>
    </tr>
    <tr>
        <td><i class="fa fa-mobile" aria-hidden="true"></i> Контактный тел. (mobile):</td>
        <td>...</td>
    </tr>
    <tr>
        <td><i class="fa fa-address-card-o" aria-hidden="true"></i> Ваш статус пользователя:</td>
        <td>...</td>
    </tr>
    <tr>
        <td><i class="fa fa-home" aria-hidden="true"></i> Ваш адрес (можно скрыть):</td>
        <td>...</td>
    </tr>
    </tbody>
</table>